In [4]:
#1
students = {}
n = int(input("Enter no. of students: "))
for _ in range(n):
    name = input("Enter student name: ")
    mark = int(input("Enter Marks: "))
    students[name] = mark
name = input("Whoose mark ya need?: ")
print(f"{name}'s mark is {students[name]}.'")

Enter no. of students: 3
Enter student name: Aayush
Enter Marks: 90
Enter student name: Adarsh
Enter Marks: 90
Enter student name: Soumi
Enter Marks: 90
Whoose mark ya need?: Aayush
Aayush's mark is 90.'

In [6]:
#2
student = {}
n = int(input("Enter no. of students: "))
for _ in range(n):
    name = input("Enter student name: ")
    mark = int(input("Enter Percentage Marks: "))
    student[name] = mark

for k,v in student.items():
    print(f"{k}'s mark is {v}%", end="\n")

Enter no. of students: 3
Enter student name: A
Enter Percentage Marks: 90
Enter student name: B
Enter Percentage Marks: 91
Enter student name: C
Enter Percentage Marks: 92
A's mark is 90%
B's mark is 91%
C's mark is 92%

In [8]:
#3
record = eval(input("Enter a dictionary(key-value pairs): "))
print(f"Sum of values = {sum(record.values())}")

Enter a dictionary(key-value pairs): {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}
Sum of values = 150

In [10]:
#4
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [11]:
#5
tlds = {'Canada':'ca', 'United States':'us', 'Mexico':'mx'}
print('Canada' in tlds)
print('France' in tlds)
for country, tld in tlds.items():
    print(f"{country}: {tld}")
tlds['Sweden'] = 'sw'
tlds['Sweden'] = 'se'
tlds = {v: k for k, v in tlds.items()}
print(tlds)

True
False
Canada: ca
United States: us
Mexico: mx
{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

In [13]:
#6
roman_numerals = {'I':1, 'II':2, 'III':3, 'V':5}
print(list(roman_numerals.keys()))
print(list(roman_numerals.values()))
print(list(roman_numerals.items()))

['I', 'II', 'III', 'V']
[1, 2, 3, 5]
[('I', 1), ('II', 2), ('III', 3), ('V', 5)]

In [15]:
#7
cubes = {x:x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [18]:
#8
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octupi': [], 'emus': []}, 'plants': {}, 'other': {}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octupi': [], 'emus': []}, 'plants': {}, 'other': {}}

In [19]:
#9
s = input("Enter a string: ")
occur = {char: s.count(char) for char in set(s)}
print(occur)

Enter a string: mississippi
{'i': 4, 's': 4, 'm': 1, 'p': 2}

In [21]:
#10
s = input("ENter a string: ")
vowel = 'aeiou'
vcount = {char: s.count(char) for char in vowel if char in s}
print(vcount)

ENter a string: aaeeiioouuaaeeiioueairopocbnhjdfs
{'a': 5, 'e': 5, 'i': 5, 'o': 5, 'u': 3}

In [22]:
#11
def num_to_words(num):
    digits_map = {'0': 'Zero', '1': 'One', '2': 'Two', '3': 'Three', '4': 'Four',
                  '5': 'Five', '6': 'Six', '7': 'Seven', '8': 'Eight', '9': 'Nine'}
    return ' '.join(digits_map[digit] for digit in str(num))
print(num_to_words(452))

Four Five Two

#

In [1]:
#12
sentence = input("Enter a sentence: ").lower().split()
word_count = {word: sentence.count(word) for word in set(sentence)}
duplicates = {word: count for word, count in word_count.items() if count > 1}
print(duplicates)

Enter a sentence: my name is my bruh is wah
{'is': 2, 'my': 2}

In [2]:
#13
def unique_words(sentence):
    words = sentence.lower().split()
    unique = sorted(set(words))
    return unique

print(unique_words("This is a test sentence this is"))

['a', 'is', 'sentence', 'test', 'this']