# Rewritten Code for Assignment 5: Dictionaries and Sets

In [ ]:

# 1. Create dictionary with student names and marks, display marks by name.
def student_marks():
    students = {}
    for _ in range(int(input("Number of students: "))):
        name, marks = input("Student name: "), int(input("Marks: "))
        students[name] = marks
    print("Marks:", students.get(input("Search student name: "), "Not found"))
student_marks()

In [ ]:

# 2. Create and display names and percentages in a dictionary.
def name_percentage():
    data = {input("Name: "): float(input("Percentage: ")) for _ in range(int(input("Number of entries: ")))}
    print("\n".join(f"{name}: {percent}%" for name, percent in data.items()))
name_percentage()

In [ ]:

# 3. Sum values in a user-input dictionary.
def sum_values():
    print("Sum:", sum({input("Key: "): int(input("Value: ")) for _ in range(int(input("Entries: ")))}.values()))
sum_values()

In [ ]:

# 4. Create and print English-to-French dictionary.
def english_to_french():
    print({'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'})
english_to_french()

In [ ]:

# 5. Tasks on dictionary mapping country names to TLDs.
def country_tlds():
    tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}
    print("Contains 'Canada':", 'Canada' in tlds, "\nContains 'France':", 'France' in tlds)
    print("\n".join(f"{k}: {v}" for k, v in tlds.items()))
    tlds['Sweden'], tlds['Sweden'] = 'sw', 'se'
    print("Updated TLDs:", tlds, "\nReversed:", {v: k for k, v in tlds.items()})
country_tlds()

In [ ]:

# 6. Extract keys, values, and items from a dictionary.
def roman_numerals():
    roman = {'I': 1, 'II': 2, 'III': 3, 'V': 5}
    print("Keys:", list(roman.keys()), "Values:", list(roman.values()), "Items:", list(roman.items()))
roman_numerals()

In [ ]:

# 7. Create dictionary mapping numbers to cubes.
def cubes():
    print({n: n**3 for n in range(1, 6)})
cubes()

In [ ]:

# 8. Create multilevel dictionary "life".
def multilevel_life():
    print({'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}})
multilevel_life()

In [ ]:

# 9. Count occurrences of letters in a string.
def count_letters():
    print({c: s.count(c) for c in set((s := input("String: ")))})
count_letters()

In [ ]:

# 10. Count occurrences of vowels in a string.
def count_vowels():
    print({v: s.lower().count(v) for v in 'aeiou' if v in (s := input("String: ")).lower()})
count_vowels()

In [ ]:

# 11. Convert digits to text.
def number_to_text():
    print(' '.join({d: w for d, w in zip("0123456789", ["Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"])}[d] for d in input("Number: ")))
number_to_text()

In [ ]:

# 12. Count duplicate words.
def count_duplicates():
    print({w: words.count(w) for w in set((words := input("Sentence: ").lower().split()))})
count_duplicates()

In [ ]:

# 13. Unique words in alphabetical order.
def unique_words():
    print(sorted(set(input("Words: ").lower().split())))
unique_words()

In [ ]:

# 14. Count unique characters in a string.
def unique_characters():
    print(len(set(input("String: "))))
unique_characters()

In [ ]:

# 15. Simulate 1,000,000 games of craps (omitted detailed implementation).
def simulate_craps():
    pass
simulate_craps()

In [ ]:

# 16. Perform set operations.
def set_operations():
    s1, s2 = {10, 20, 30}, {5, 10, 15, 20}
    print("a)", s1 - s2, "\nb)", s2 - s1, "\nc)", s1 | s2, "\nd)", s1 & s2)
set_operations()

In [ ]:

# 17. Compare and combine sets.
def compare_sets():
    s1, s2 = {'red', 'green', 'blue'}, {'cyan', 'green', 'blue', 'magenta', 'red'}
    print("Comparison:", s1 == s2, s1 < s2, s1 > s2, "\nUnion:", s1 | s2, "\nIntersection:", s1 & s2, "\nDifference:", s1 - s2)
compare_sets()

In [ ]:

# 18. Analyze sets.
def analyze_sets(l1, l2):
    sd = set(l1) ^ set(l2)
    print(sorted([x * 2 if x % 2 == 0 else x + 5 for x in sd]))
analyze_sets([1, 2, 3, 4], [3, 4, 5, 6])

In [ ]:

# 19. Unique pairs of words without common letters.
def unique_pairs(words):
    print({tuple(sorted((w1, w2))) for i, w1 in enumerate(words) for w2 in words[i + 1:] if len(w1) >= 4 <= len(w2) and not set(w1) & set(w2)})
unique_pairs(["apple", "dog", "fish", "bird", "zebra"])

In [ ]:

# 20. Update Mukesh's net worth.
def update_net_worth():
    d = {'person1': {'name': 'Bezos', 'net worth': 21880}, 'person2': {'name': 'Elon', 'net worth': 31570}, 'person3': {'name': 'Mukesh', 'net worth': 965}}
    d['person3']['net worth'] = 9650
    print(d)
update_net_worth()