In [1]:
#Dictionary:- key : value

#Creation:
codes = {'Finland':'fi', 'Africa':'af', 'Nepal':'np'}
print(codes)

{'Finland': 'fi', 'Africa': 'af', 'Nepal': 'np'}

In [2]:
#check empty
codwa = {}
if codwa:
    print("not empty")
else:
    print("empty")

empty

In [3]:
#Accessing:-
print(codes['Finland'])

fi

In [4]:
#iterating through a dictionary:-
for country,code in codes.items():          #for var1,var2 in dictname.items():
    print(f"{country} has code: {code}")          #var1 retrieves key, var2 retrieves value

Finland has code: fi
Africa has code: af
Nepal has code: np

In [5]:
#updating:-
codes['Finland'] = 'Fn' #OLD KEY VALUE BOLE TO UPDATING
print(codes)

{'Finland': 'Fn', 'Africa': 'af', 'Nepal': 'np'}

In [6]:
#adding:-
codes['USA'] = 'Us' #NEW KEY VALUE BOLE TO ADDING
print(codes)
codes['India'] = 'In' 
print(codes)

{'Finland': 'Fn', 'Africa': 'af', 'Nepal': 'np', 'USA': 'Us'}
{'Finland': 'Fn', 'Africa': 'af', 'Nepal': 'np', 'USA': 'Us', 'India': 'In'}

In [7]:
#deletion:-
del codes['USA']
print(codes)

{'Finland': 'Fn', 'Africa': 'af', 'Nepal': 'np', 'India': 'In'}

In [8]:
'''print average grade of each student using one dictionary and one for statement
Name   grade1   grade2   grade3
John     85       75       90
Alex     91       53       74
Joy      82       61       79'''

student = {'John':[85, 75, 90], 'Alex':[91, 53, 74], 'Joy':[82, 61, 79]}
print(student)
for n, L in student.items():
    avg = sum(L)/len(L)
    print(f"Avergae grade of {n} is {avg:.2f}")

{'John': [85, 75, 90], 'Alex': [91, 53, 74], 'Joy': [82, 61, 79]}
Avergae grade of John is 83.33
Avergae grade of Alex is 72.67
Avergae grade of Joy is 74.00

In [9]:
'''WAP to swap keys and values of a dictionary usinf for loop'''

print(codes)
codet = {}
for x,y in codes.items():
    codet[y] = x
print(codet)

#or:
#codes = {v:k for k,v in codes.items()}

{'Finland': 'Fn', 'Africa': 'af', 'Nepal': 'np', 'India': 'In'}
{'Fn': 'Finland', 'af': 'Africa', 'np': 'Nepal', 'In': 'India'}

In [10]:
'''Create 2 dictionaries with same items but diff order.
Apply '==' operator b/w them'''

code1 = codes
code2 = {'Africa': 'af','Finland': 'Fn', 'Nepal': 'np', 'India': 'In'}
print(code1==code2)
#dictionary is an unordered list of items

True

In [14]:
'''WAP to create dict of student name and mark(total).
Display name of student having maxm mark'''

st = {'Joy': '90', 'Bruhemian': '89', 'Aayush': '95'}
def highest(d):
    d = {v:k for k,v in d.items()}
    print("Highest marks is bagged by:", d[max(d)])
highest(st)

Highest marks is bagged by: Aayush

In [25]:
'''Convert a dict into list of tuples and revert the operation W/O tuple() and dict() functions'''

L1 = list(zip(st, st.values()))
print(L1)
print(type(L1))

S2 = {x:y for x,y in L1}
print(S2)
print(type(S2))

[('Joy', '90'), ('Bruhemian', '89'), ('Aayush', '95')]
<class 'list'>
{'Joy': '90', 'Bruhemian': '89', 'Aayush': '95'}
<class 'dict'>