In [1]:
list1 = list([1,2,3])
print(list1)
print(type(list1))

list2 = [4,5]
print(list2)
print(type(list2))

[1, 2, 3]
<class 'list'>
[4, 5]
<class 'list'>

In [2]:
list1.append(4)
print(list1)

[1, 2, 3, 4]

In [3]:
list1.extend([5,6])
print(list1)

[1, 2, 3, 4, 5, 6]

In [4]:
list1.insert(1,10)
print(list1)

[1, 10, 2, 3, 4, 5, 6]

In [5]:
list.sort(list1)
print(list1)

[1, 2, 3, 4, 5, 6, 10]

In [6]:
list1.remove(4) #checks element
print(list1)

[1, 2, 3, 5, 6, 10]

In [7]:
list1.pop(3)        #checks index
x = list1.pop(2)    #and can also be assigned 
print(x)
print(list1)

3
[1, 2, 6, 10]

In [8]:
list1.clear()
print(list1)

[]

In [1]:
list1.append(1)
x = list1.index(0)
print(x)
print(list1)

NameError: name 'list1' is not defined

In [10]:
list1.extend([1, 1, 2, 3, 4, 5, 6])
x = list1.count(1)
print(x)
print(list1)

3
[1, 1, 1, 2, 3, 4, 5, 6]

In [11]:
list1.sort(reverse = True)
print(list1)

[6, 5, 4, 3, 2, 1, 1, 1]

In [23]:
#List: mutable and heterogenous
#1
list5 = list([1,2,3])
print("List: ",list5)
print("type: ",type(list5))

#2
list5.append(4)
print("append(4): ", list5)

#3
list5.extend([5,6])
print("extend([5,6]): ", list5)

#4
list5.insert(1,10)
print("insert(1,10): ", list5)

#5
list.sort(list5)
print("list.sort(list5): ", list5)

#6
list5.remove(4)
print("remove(4): ",list5)

#7
list5.pop(3)
x = list5.pop(2) 
print("popped: ", x)
print("popand: ",list5)

#8
list5.clear()
print("clear(): ", list5)

#9
list5.append(1)
x = list5.index(1)
print("index(1): ", x)
print("list: ", list5)

#10
list5.extend([1, 1, 2, 3, 4, 5, 6])
x = list5.count(1)
print("count(1): ", x)
print("extended: ", list5)

#11
list5.sort(reverse = True)
print("sort(reverse = True): ", list5)

#12
list5.reverse()
print("reverse(): ", list5)

#13
list6 = list5.copy()
print("copy list: ", list6)

#14
print("1 in list5? ", 1 in list5)

#15
print("Length = ", len(list5))
print("Max = ", max(list5))
print("Min = ", min(list5))
print("Sum = ", sum(list5))

#16
list11 = list5 + list6
print("list5 + list6: ", list11)

#17
summ = 0
for i in [1, 2, 3, 4, 5]:
    summ = summ+i
print("sum using for loop: ", summ)

List:  [1, 2, 3]
type:  <class 'list'>
append(4):  [1, 2, 3, 4]
extend([5,6]):  [1, 2, 3, 4, 5, 6]
insert(1,10):  [1, 10, 2, 3, 4, 5, 6]
list.sort(list5):  [1, 2, 3, 4, 5, 6, 10]
remove(4):  [1, 2, 3, 5, 6, 10]
popped:  3
popand:  [1, 2, 6, 10]
clear():  []
index(1):  0
list:  [1]
count(1):  3
extended:  [1, 1, 1, 2, 3, 4, 5, 6]
sort(reverse = True):  [6, 5, 4, 3, 2, 1, 1, 1]
reverse():  [1, 1, 1, 2, 3, 4, 5, 6]
copy list:  [1, 1, 1, 2, 3, 4, 5, 6]
1 in list5?  True
Length =  8
Max =  6
Min =  1
Sum =  23
list5 + list6:  [1, 1, 1, 2, 3, 4, 5, 6, 1, 1, 1, 2, 3, 4, 5, 6]
sum using for loop:  15

In [62]:
#Tuple: immutable and heterogeneous
#1
t1 = tuple([1, 'abc', 3, 5])
t2 = (2, 'def', 4, 6)
print("t1          : ", t1, "\nt2          : ", t2)

#2
print("index 1     : ", t1[1])  #tuplename[index]

#3
print("index of 1  : ", t1.index(1))

#4
print("no. of 1s   : ", t1.count(1))

#5
print("t1 + (4, 5) : ", t1 + (4, 5))

#6
print("t1*2        : ", t1*2)

#7
print("1 in t1?    : ", 1 in t1)

#8
print("Length      : ", len(t1))

#9
#print("Max = ", max(t1))
#print("Min = ", min(t1))   no work cuz diff datatypes
#print("Sum = ", sum(t1))
t3 = (1, 2, 3, 4, 5, 6)
print("t3          : ", t3)
print("Max         : ", max(t3))
print("Min         : ", min(t3))   #work
print("Sum         : ", sum(t3))

#10
#append, remove, insert doesn't work as it is immutable

t1          :  (1, 'abc', 3, 5)
t2          :  (2, 'def', 4, 6)
index 1     :  abc
index of 1  :  0
no. of 1s   :  1
t1 + (4, 5) :  (1, 'abc', 3, 5, 4, 5)
t1*2        :  (1, 'abc', 3, 5, 1, 'abc', 3, 5)
1 in t1?    :  True
Length      :  4
t3          :  (1, 2, 3, 4, 5, 6)
Max         :  6
Min         :  1
Sum         :  21

In [ ]:
#Slicing [start index included : end index excluded : step size]
l1 = [1, 2, 3, 4, 5, 6, 7, 8]
print("l1[2:6]    = ", l1[2:6])
print("l1[2: ]    = ", l1[2: ])
print("l1[ :3]    = ", l1[ :3])
print("l1[ : ]    = ", l1[ : ])
print("l1[2:6:2]  = ", l1[2:6:2])
print("l1[ : :-1] = ", l1[ : :-1])
print("l1[ : :-2] = ", l1[ : :-2])

l1[2:6]    =  [3, 4, 5, 6]
l1[2: ]    =  [3, 4, 5, 6, 7, 8]
l1[ :3]    =  [1, 2, 3]
l1[ : ]    =  [1, 2, 3, 4, 5, 6, 7, 8]
l1[2:6:2]  =  [3, 5]
l1[ : :-1] =  [8, 7, 6, 5, 4, 3, 2, 1]
l1[ : :-2] =  [8, 6, 4, 2]

In [66]:
#reverse a string using slicing
strr = (input("Namaiwa? "))
str1 = strr[::-1]
print("reversed: ", str1)

Namaiwa? Aayush
hsuyaA

In [69]:
#check palindrome using slicing
num = (input("Enter number: "))
nam = num[::-1]
if num == nam:
    print("Palind-rome")
else:
    print("Plaind-stay at home")

Enter number: 123323
Plaind-stay at home

In [ ]:
#del statement
l2 = [1, 2, 3, 4, 5, 6, 7, 8]
print("l2: ", l2)

del l2[2]
print("l2: ", l2)  #index 2 deleted

del l2[-1]  
print("l2: ", l2)  #last digit deleted

del l2[2:4]
print("l2: ", l2)  #index 3 & 4 deleted (start index included & end index excluded)

l2:  [1, 2, 3, 4, 5, 6, 7, 8]
l2:  [1, 2, 4, 5, 6, 7, 8]
l2:  [1, 2, 4, 5, 6, 7]
l2:  [1, 2, 6, 7]

In [73]:
#WAP to multiply each element of l2 by 2.

for i in range(len(l2)):
    l2[i] *= 2
    
print("l2*2 = ", l2)

l2*2 =  [2, 8, 12, 14]

In [6]:
#wap to find common elements between two lists
list1=[1,2,3,4,5,6]
list2=[7,8,9,2,10,4,9]
for i in list1:
    for j in list2:
        if i == j:
            print(i, end=", ")

2, 4,

In [19]:
#wap to remove duplicate elements from a list(better not to use another list)
l1 = [1, 2, 3, 4, 3, 3, 2]

for i in reversed(l1):
    if l1.count(i) > 1:
        l1.remove(i)
        
print(l1)

[1, 4, 3, 2]

In [17]:
#wap to find second largest element from a list
lt = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lt.sort(reverse = True)
print("Second Largest Element: ", lt[1])

Second Largest Element:  8