# Minor Assignment-6: NumPy and Pandas
# This notebook contains solutions to the assignment questions.

In [ ]:

# 1. Accept student details and display information
import pandas as pd

n = int(input("Enter number of students: "))
students = []
for _ in range(n):
    name = input("Enter student name: ")
    marks = int(input("Enter marks: "))
    students.append({'Name': name, 'Marks': marks})

df = pd.DataFrame(students)
print("Student Information:")
print(df)

In [ ]:

# 2. Create and manipulate a NumPy array
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
print("Original array:", arr)

# Modify and display array details
squared = arr**2
print("Squared values:", squared)

mean_val = np.mean(arr)
print("Mean of array:", mean_val)

In [ ]:

# 3. Operations on Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85, 90, 95]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Add a new column
df['Passed'] = df['Score'] > 50
print("Updated DataFrame:")
print(df)

In [ ]:

# 4. Working with a CSV file
file_path = input("Enter the path of your CSV file: ")

try:
    df = pd.read_csv(file_path)
    print("DataFrame loaded successfully:")
    print(df.head())
except Exception as e:
    print(f"Error loading CSV file: {e}")

In [ ]:

# 5. Perform groupby operations in Pandas
data = {
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [70000, 80000, 65000, 85000, 75000, 90000]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

grouped = df.groupby('Department')['Salary'].mean()
print("Average Salary by Department:")
print(grouped)

In [ ]:

# 6. NumPy array slicing and indexing
arr = np.arange(10)
print("Original array:", arr)

# Slicing
print("First 5 elements:", arr[:5])
print("Last 3 elements:", arr[-3:])

# Conditional selection
even_numbers = arr[arr % 2 == 0]
print("Even numbers:", even_numbers)

In [ ]:

# 7. Merge two Pandas DataFrames
data1 = {
    'Employee': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'IT', 'HR']
}

data2 = {
    'Employee': ['Alice', 'Bob', 'Charlie'],
    'Salary': [70000, 80000, 65000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

merged = pd.merge(df1, df2, on='Employee')
print("Merged DataFrame:")
print(merged)